<div class="banner-home" style="background-image: url(<%= asset_url ('cinema.jpg')%>)">
  <h1 class="title-banner">Movie Vault</h1>
</div>

<div class="watchlist_card">
  <div class="text-center">
  <div class="navbar">
    <h3 class="typed-js"></h3>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h2 class="mb-0">My Watchlist</h2>
    <%= link_to 'New list', new_list_path, class: 'btn btn-success', style:"font-weight:bold;"%>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-3" id="card-box">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
          <div class="card-pic">
            <%= cl_image_tag list.photo.key %>
          </div>
          <div class="card-info" data-aos="zoom-in" >
            <%= list.name %>
            <%= link_to 'delete', list_path(list), method: :delete, data: { confirm: "Are you sure you want to remove #{list.name} "}, class: 'text-danger' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
